.profile__edit-button {
  width: 24px;
  height: 24px;
  margin-left: 18px;
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  order: 3;
  cursor: pointer;
  transition: opacity 0.4s;
}

.profile__edit-button:hover {
  opacity: 0.6;
}
