.profile__edit-button {
  width: 24px;
  height: 24px;
  margin-left: 18px;
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  order: 3;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 920px) {
  .profile__edit-button {

  }
}
