.profile__edit-button {
  width: 24px;
  height: 24px;
  margin-left: 18px;
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  order: 3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 480px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}
