.profile {
  width: 100%;
  min-height: 120px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 920px) {
  .profile {
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    width: 282px;
    justify-content: center;
  }
}
