.elements {
  width: 100%;
  padding: 51px 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .elements {
    padding-top: 36px;
  }
}
