.popup__close-but {
    position: absolute;
    top: -40px;
    right: -40px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}
.popup__close-but:hover {
    opacity: 0.6;
}

@media screen and (max-width: 480px) {
    .popup__close-but {
        top: -36px;
        right: 0;
    }
  }
